@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" id="jumboMain" style="border-radius: 0;">
    <h2>My Name is Rami Alhussein</h2>
    <h3>I am a web and software developer</h3>
    <br />
    <span class="btn btn-outline-primary btn-lg" id="txtbxEmail">@Html.ActionLink("About", "About", "Home")</span>
    <span class="btn btn-outline-success btn-lg">@Html.ActionLink("Contact Me", "Create", "contactForms")</span>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="inner">
            <h2>Projects</h2>
            <hr class="hr" />
            <p>
                I have worked on a verity of projects, with multiple services like Node.js, ASP.NET, Sql, MySql, MongoDb, etc.. <br />Check out some the projects I have worked.
            </p>
            <br />
            <span class="txtBottom">@Html.ActionLink("Check it out ", "Project", "Home")</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="inner">
            <h2>Experience</h2>
            <hr class="hr" />
            <p>I started as an inter at a small company in Manhatten New York. From there I grew with the company and now I hold the title of a junior software developer.</p>
            <br />
            <span class="txtBottom">@Html.ActionLink("Check it out", "Experience", "Home")</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="inner">
            <h2>Services</h2>
            <hr class="hr" />
            <p>I am capable to create software application, and web application from the ground up</p>
            <br />
            <span class="txtBottom">@Html.ActionLink("Check it out", "Services", "Home")</span>
        </div>
    </div>
</div>