<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">Web Site Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span class="nav-link">@Html.ActionLink("Projects", "Project", "Home")</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">@Html.ActionLink("Experience", "Experience", "Home")</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">@Html.ActionLink("Services", "Services", "Home")</span>
                    </li>
                    <li class="nav-item active">
                        <span class="nav-link">@Html.ActionLink("About", "About", "Home")</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</span>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="nav-link btn btn-outline-primary">@Html.ActionLink("Login", "Create", "Logins")</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link btn btn-outline-success">@Html.ActionLink("Register", "Create", "registers")</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
